Repository ammuench/contrastrast: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

.lintstagedrc:

{
  "*.{js,ts,cjs}": ["eslint --fix", "prettier --write"],
  "*.{json,md}": "prettier --write",
}

🚧 Build out basic logic and parsers, hex parser unfinished
  .eslintrc.cjs
  src/helpers/colorStringParsers.ts
  src/helpers/convertHexToRGB.ts
  src/index.ts
  tsconfig.json
Due: eslint --fix, prettier --write

🐛 Re-order regexes to fix RGB getting parsed as regex. Fix bug with HSL computation
  src/helpers/colorStringParsers.ts
  src/helpers/convertHexToRGB.ts
Due: eslint --fix, prettier --write

🎨 Tighten up regex for hex codes
  src/helpers/colorStringParsers.ts
Due: eslint --fix, prettier --write

📝 Clean up some formatting. Write README and LICENSE
  LICENSE
  README.md
  package.json
  src/helpers/colorStringParsers.ts
  src/helpers/rgbConverters.ts
Due: eslint --fix, prettier --write

Add README image
  README.md
Due: prettier --write

🎨 Update JSDocs, clean up types/formatting, update second param to be options obj to open up future work
  README.md
  src/constants.ts
  src/index.ts
  src/types/contrastrastOptionts.types.ts
Due: eslint --fix, prettier --write

🎨 Move core logic to modules folder, setup index to just be an import/export val
  src/index.ts
  src/modules/textContrastForBGColor.ts
Due: eslint --fix, prettier --write

🚧 Inital vitest setup--tests working, types aren't
  package.json
  pnpm-lock.yaml
  src/modules/textContrastForBGColor.test.ts
  tsconfig.test.json
  vite.config.ts
Due: eslint --fix, prettier --write

🔧 Fix testing tsconfig setup
  package.json
  tsconfig.build.json
  tsconfig.json
  tsconfig.test.json
Due: prettier --write

✅ Write module tests, update HSL regex
  .gitignore
  package.json
  pnpm-lock.yaml
  src/helpers/colorStringParsers.ts
  src/modules/textContrastForBGColor.test.ts
  src/modules/textContrastForBGColor.ts
  vite.config.ts
Due: eslint --fix, prettier --write

✅ Write test for consistency and converters
  src/helpers/colorStringParsers.test.ts
  src/helpers/rgbConverters.test.ts
Due: eslint --fix, prettier --write

0.1.0
  package.json
Due: prettier --write

📝 Clean up documentation, update HSL examples
  README.md
  package.json
Due: prettier --write

0.1.1
  package.json
Due: prettier --write

🐛 Fix types failing to export correctly
  README.md
  package.json
  pnpm-lock.yaml
  vite.config.ts
Due: eslint --fix, prettier --write

0.2.0
  package.json
Due: prettier --write

Initial migration to deno
  .eslintignore
  .eslintrc.cjs
  .husky/pre-commit
  .lintstagedrc
  .prettierrc.json
  README.md
  constants.ts
  deno.json
  deno.lock
  helpers/colorStringParsers.test.ts
  helpers/colorStringParsers.ts
  helpers/rgbConverters.test.ts
  helpers/rgbConverters.ts
  main.ts
  modules/textContrastForBGColor.test.ts
  modules/textContrastForBGColor.ts
  package.json
  pnpm-lock.yaml
  src/index.ts
  tsconfig.build.json
  tsconfig.json
  types/RGB.types.ts
  types/contrastrastOptionts.types.ts
  vite.config.ts
Due: eslint --fix, prettier --write

Setup builds for NPM and JSR
  .gitignore
  README.md
  deno.json
  deno.lock
  scripts/build_npm.ts
Due: eslint --fix, prettier --write

Fix deno config, description
  deno.json
Due: prettier --write

💥 First draft of v1.0 luxon-style code, expanded to support a lot more functionality
  .gitignore
  Contrastrast.ts
  constants.ts
  types/ContrastTypes.ts
  utils/contrastRatio.ts
  utils/textContrast.ts
Due: eslint --fix, prettier --write

🚨 Fix linter, run it
  .husky/pre-commit
  .lintstagedrc
  deno.lock
  helpers/colorStringParsers.ts
  helpers/rgbConverters.test.ts
  helpers/rgbConverters.ts
  modules/textContrastForBGColor.test.ts
  modules/textContrastForBGColor.ts
Due: eslint --fix, prettier --write

🚚 Rearrange code layout, clean up textContrast outputs
  .gitignore
  constants.ts
  contrastrast.ts
  legacy/contrastrastOptions.types.ts
  legacy/textContrastForBGColor.test.ts
  legacy/textContrastForBGColor.ts
  main.ts
  types/ContrastTypes.ts
  utils/contrastRatio.ts
  utils/textContrast.ts
Due: eslint --fix, prettier --write

♻️ Refactor types
  constants.ts
  contrastrast.ts
  types/Colors.types.ts
  types/ContrastTypes.ts
  types/RGB.types.ts
  types/WCAG.types.ts
  utils/textContrast.ts
Due: eslint --fix, prettier --write

🎨 Add overloads for types, write util tests
  contrastrast.ts
  deno.json
  deno.lock
  helpers/colorStringParsers.ts
  helpers/colorStringParsers_test.ts
  helpers/rgbConverters.ts
  helpers/rgbConverters_test.ts
  legacy/textContrastForBGColor_test.ts
  utils/contrastRatio_test.ts
  utils/textContrast.ts
  utils/textContrast_test.ts
Due: eslint --fix, prettier --write

🔧 Fix exports, rename entrypoint file
  deno.json
  legacy/textContrastForBGColor_test.ts
  main.ts
  mod.ts
  scripts/build_npm.ts
Due: eslint --fix, prettier --write

✅ First-pass on core module tests
  constants/reference-colors.ts
  contrastrast_test.ts
  deno.json
Due: eslint --fix, prettier --write

♻️ Clean up contrast tests
  contrastrast_test.ts
  deno.json
  utils/textContrast_test.ts
Due: eslint --fix, prettier --write

🐛 Fix HSL parsing, update tests to stress parsing better
  contrastrast_test.ts
  helpers/rgbConverters.ts
Due: eslint --fix, prettier --write

✅ Update tests to use reference values, clean up structure
  constants/reference-colors.ts
  constants/wcag-test-values.ts
  contrastrast_test.ts
Due: eslint --fix, prettier --write

📝 add jsdoc for all methods
  contrastrast.ts
  helpers/colorStringParsers.ts
Due: eslint --fix, prettier --write

🔧 Add config options for parsing
  contrastrast.ts
  helpers/colorStringParsers.ts
  types/ParseOptions.types.ts
Due: eslint --fix, prettier --write

✅ Add tests for new parseopts config
  contrastrast_test.ts
Due: eslint --fix, prettier --write

🚚 Move reference color files to more appropriate directory
  contrastrast_test.ts
  reference-values/reference-colors.ts
  reference-values/wcag-reference-colors.ts
Due: eslint --fix, prettier --write

📝 Update README, add some type comments
  README.md
  types/Colors.types.ts
  types/ParseOptions.types.ts
  types/WCAG.types.ts
  utils/textContrast.ts
Due: eslint --fix, prettier --write

💚 Add ci quality, build and publish stuff
  .github/workflows/pr-validation.yml
  .github/workflows/publish-jsr.yml
  .github/workflows/publish-npm.yml
  .github/workflows/quality-checks.yml
Due: none

💚 update CI to run on every PR, fix dupe
  .github/workflows/pr-validation.yml
  .github/workflows/quality-checks.yml
Due: none

💚 Drop deno 1.x test running (it wasn't worth it)
  .github/workflows/quality-checks.yml
Due: none

💚 Drop code coverage uploading for now
  .github/workflows/quality-checks.yml
Due: none

💚 Update CI build upload artifact script
  .github/workflows/pr-validation.yml
  .gitignore
Due: none
