Repository ammuench/contrastrast: changes, and which lint-staged commands are due for each by the changed paths.
All: deno lint --fix, deno fmt

💚 Update npm build script, add new attw check to CI on PR
  .github/workflows/pr-validation.yml
  scripts/build_npm.ts
Due: deno lint --fix, deno fmt

✅ Add tests to bring up coverage, clean up deno, package.json files
  contrastrast_test.ts
  deno.json
  helpers/rgbConverters_test.ts
  legacy/textContrastForBGColor_test.ts
  reference-values/reference-colors.ts
  scripts/build_npm.ts
Due: deno lint --fix, deno fmt

Feature/v1.0.0 (#2)
  .github/workflows/pr-validation.yml
  .github/workflows/publish-jsr.yml
  .github/workflows/publish-npm.yml
  .github/workflows/quality-checks.yml
  .gitignore
  .husky/pre-commit
  .lintstagedrc
  README.md
  constants.ts
  contrastrast.ts
  contrastrast_test.ts
  deno.json
  deno.lock
  helpers/colorStringParsers.ts
  helpers/colorStringParsers_test.ts
  helpers/rgbConverters.test.ts
  helpers/rgbConverters.ts
  helpers/rgbConverters_test.ts
  legacy/contrastrastOptions.types.ts
  legacy/textContrastForBGColor.ts
  legacy/textContrastForBGColor_test.ts
  main.ts
  mod.ts
  reference-values/reference-colors.ts
  reference-values/wcag-reference-colors.ts
  scripts/build_npm.ts
  types/Colors.types.ts
  types/ParseOptions.types.ts
  types/RGB.types.ts
  types/WCAG.types.ts
  utils/contrastRatio.ts
  utils/contrastRatio_test.ts
  utils/textContrast.ts
  utils/textContrast_test.ts
Due: deno lint --fix, deno fmt

🔖 Bump to 1.0.0
  CLAUDE.md
  deno.json
Due: deno fmt

💚 Update jsr publish flow
  .github/workflows/publish-jsr.yml
Due: none

💚 Fix gh release step in JSR
  .github/workflows/publish-jsr.yml
Due: none

📝 update claude reference with proper details
  CLAUDE.md
  deno.json
Due: deno fmt

🔧 Add dist to ignore pattern
  deno.json
Due: deno fmt

Path conditions:
  deno lint --fix: any of: *.{js,ts,cjs}
  deno fmt: (any of: *.{js,ts,cjs}) or (any of: *.{json,md})
